* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-header {
  color: #e1464b;
  font-weight: 800;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  border-bottom: 4px solid #e1464b;
}
.App-header img {
  height: 12rem;
}
